{% extends 'boardgames/base.html' %}

{% block content %}
<h4>My boardgames</h4>
<ul>
{% for game in games %}
<li><a href="{% url 'boardgames:game_detail' game.id %}">{{game}}</a></li>
{% empty %}
    <li>You haven't added any boardgame yet.</li>
{% endfor %}
<a href="{% url 'boardgames:new_game' %}">Add a new boardgame</a>
</ul>

<h4>My Current Loans</h4>
{% for loan in loans %}
    <p>
        <a href="{% url 'boardgames:game_detail' loan.game.id %}">{{loan.game}}</a>
        <a href="{% url 'boardgames:return_game' loan.id %}">Click to return</a> 
    </p> 
    <p>Date borrowed: {{loan.borrow_date}}</p>
{% empty %} 
    <p>You have not borrow any games yet</p>
{% endfor %}

{% endblock content%}
